*{
    box-sizing: border-box;
}
.box{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #353333;
    text-align: center;
    padding-top: 20px;
    color: white;
    margin: 5px 5px;
}

.o{
    background-color: orangered;
}

.l{
    background-color: #757575;
}

.calculator{
    display: inline-block;
    background-color: black;
    width: auto;
    color: white;
    border-radius: 10px;
}

header>p{
    text-align: center;
}

.bar>p{
    text-align: right;
    padding-top: 20px;
}

.bar{
    background-color:rgb(241, 193, 104);
    height: 40px;
}